*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 7rem;
    background-color: #00a173;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-div
{
  color: white;
}

button{
   height: 2rem;
   /* width: 5rem; */
   width: auto;
}

#centered
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#form-item
{
  margin: auto;
}

#centered-button
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#list
{
  color: red;
}

#report-heading
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-color
{
  color: #00a173;
}
#color-black
{
  color: #000;
}
